[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-decouple = "*"
twilio = "*"
pillow = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.12"
