[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2 = "*"
python-decouple = "*"
twilio = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
websockets = "*"
pydantic = "*"
django-filter = "*"
faker = "*"
drf-writable-nested = "*"
drf-nested-forms = "*"

[dev-packages]

[requires]
python_version = "3.13.5"
